<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-datetime
    display-format="YYYY/MM/DD"
  ></ion-datetime>
  <!-- <ion-button (click)="historicoDia()">Default</ion-button> -->
  <div *ngFor="let i of dados">
      <p>Temperatura: {{i["temperatura"]}}</p>
      <p>Umidade: {{i["umidade"]}}</p>
      <p>Registro: {{i["timestamp"]}}</p>
  </div>


</ion-content>
